# Ignore the nvim plugins cache dir
nvim/plugin/
nvim/lazy-lock.json

# Glazewm error logs
glaze-wm/errors.log

# Ignore .DS_Store files for MacOs
.DS_Store

# Fish shell stuff
fish_variables
fish/functions/
fish/completions/
fish/conf.d/

# Personal scripts logs
personal_scripts/check_ping_logs
