// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// You can also set this to null to disable saving screenshots to disk.
screenshot-path null

include "modules/animations.kdl"
include "modules/binds.kdl"
include "modules/env_vars.kdl"
include "modules/gestures.kdl"
include "modules/inputs.kdl"
include "modules/layout.kdl"
include "modules/outputs.kdl"
include "modules/window_rules.kdl"
include "modules/workspaces.kdl"

