@import "macchiato.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#cpu,
#memory,
#bluetooth,
#network,
#pulseaudio,
#clock {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#cpu {
  color: @green;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#memory {
  color: @green;
  /* border-radius: 1rem 0px 0px 1rem; */
  /* margin-left: 1rem; */
}

#bluetooth {
  color: @blue;
  /* border-radius: 1rem 0px 0px 1rem; */
  /* margin-left: 1rem; */
}

#network {
  color: @blue;
  /* border-radius: 1rem 0px 0px 1rem; */
  /* margin-left: 1rem; */
}

#pulseaudio {
  color: @maroon;
  /* border-radius: 1rem 0px 0px 1rem; */
  /* margin-left: 1rem; */
}

#clock {
  color: @yellow;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}
